@model Hydron.Models.Definitions.ProcessCategoryModel
@using (Html.BeginForm("Define", "ChangeType", FormMethod.Post, new { enctype = "multipart/form-data", id = "Define" }))
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    


    <fieldset>

        @*<legend>Costing </legend>*@
         
          
        @{
            if (ViewData.ModelState["error"] != null)
            {  <div class="alert alert-danger ">
            <button class="close" data-close="alert"></button>
            @ViewData.ModelState["error"].Errors[0].ErrorMessage

        </div>}
        }
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            You have some form errors. Please check below.

        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            Your form validation is successful!
        </div>
        <div class="form-horizontal form-bordered">
            <div class="form-body">
                
                <div class="form-group">
                    <label class="control-label col-md-3">Name<span class="required">*</span></label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>
                        @Html.HiddenFor(m => m.Id)  @*@Html.HiddenFor(m => m.AdminId)*@
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Name", name = "Name" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
              
              
                <div class="form-group">
                    <label class="control-label col-md-3">Parent<span class="required">*</span></label>
                    <div class="col-md-9 input-icon">
           
                        @*@Html.DropDownListFor(m => m.ParentListId, Model.ParentListData, new { @class = "select2 form-control register-form fa", name = "ParentName", id = "select2_sample4" })*@
                        
                        @Html.DropDownListFor(m => m.ParentListId, Model.ParentListData,"Please select main category", new { @class = "select2 form-control placeholder-no-fix ", name = "ParentName" } )
                        @Html.ValidationMessageFor(m => m.ParentListId)

                    </div>
                </div>



                <div class="form-group">
                    <label class="control-label col-md-3">Value</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>                   
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Value", name = "Value" })
                        @Html.ValidationMessageFor(m => m.Value)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">CompanyId</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>
                        @Html.TextBoxFor(m => m.CompanyId, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "100", placeholder = "CompanyId", name = "CompanyId" })
                        @Html.ValidationMessageFor(m => m.CompanyId)
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3">ProcessId</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>
                        @Html.TextBoxFor(m => m.ProcessId, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "100", placeholder = "ProcessId", name = "ProcessId" })
                        @Html.ValidationMessageFor(m => m.ProcessId)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">BUnitId</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>
                        @Html.TextBoxFor(m => m.BUnitId, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "100", placeholder = "BUnitId", name = "BUnitId" })
                        @Html.ValidationMessageFor(m => m.BUnitId)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">DivisionId</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-font"></i>
                        @Html.TextBoxFor(m => m.DivisionId, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "100", placeholder = "DivisionId", name = "DivisionId" })
                        @Html.ValidationMessageFor(m => m.DivisionId)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Is Active</label>
                    <div class="col-md-9 input-icon">
                        <i class="fa fa-lock"></i>
                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;Active&nbsp;" data-off-label="&nbsp;Inactive&nbsp;&nbsp;">
                            @Html.CheckBoxFor(m => m.IsActive, new { name = "IsActive", @checked = "", @class = "toggle" })
                        </div>
                    </div>
                    <label> @Html.ValidationMessageFor(m => m.IsActive)</label>
                </div>




                <div class="margiv-top-10">
                    <a data-toggle="modal" class="btn green" role="button" href="#modalSave" onclick="handleChangeType();">Save Changes</a>

                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel3" role="dialog" tabindex="-1" class="modal fade" id="modalSave" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title"> </h4>
                            </div>
                            <div class="modal-body">
                                @*the value to be set when calling  initModT('Save');*@
                            </div>
                            <div class="modal-footer">
                                <h5 class="modal-msg" style="display:none"> <span><img src='/assets/img/loading.gif'></span> </h5>
                                <button aria-hidden="true" data-dismiss="modal" class="btn default">Close</button>
                                @*<a class="btn red" href="~/Department/Delete?uId=@Model.DepartmentId" id="fdbtn"> // onclick="initModT('S ave'); removed, no need on close to reinitialize
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>*@
                                <button type="submit" value="Save" class="btn green" id="fsbtn">
                                    <i class="fa fa-save"></i>Save

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </fieldset>
            <div id="register_tnc_error"></div>

            }


<script type="text/javascript">


                    jQuery(document).ready(function () {
                        //function format(state) {
                        //    if (!state.id) return state.text; // optgroup
                        //    return "<img class='flag' src='/assets/img/flags/" + state.id.toLowerCase() + ".png'/>&nbsp;&nbsp;" + state.text;
                        //}


                        //$("#select2_sample4").select2({
                        //    placeholder: '<i class="fa fa-map-marker"></i>&nbsp;Select a Country',
                        //    allowClear: true,
                        //    formatResult: format,
                        //    formatSelection: format,
                        //    escapeMarkup: function (m) {
                        //        return m;
                        //    }
                        //});

                        handleChangeType();






                    });

                    function toggleUpload() {
                        $('#rowupload').toggle(); $('#deflogoset').toggle(); $('#deflogo').toggle();

                    }

                    function initModT(type) {

                        if (type == "Delete") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Delete");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Delete this record?</p>");

                            $('#fbbtn').hide();
                            $('#fdbtn').show();


                        }

                        if (type == "Ban") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Activation");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Deactivate this record?</p>");

                            $('#fdbtn').hide();
                            $('#fbbtn').show();
                        }
                        if (type == "Save") {
                            $('[id=modalSave]').find('[class=modal-title]').html("Save");
                            $('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to Save this record?</p>");
                            $('#fsbtn').show();
                            $('#fdbtn').hide();
                            $('#fbbtn').hide();
                        }
                    }



                    var handleChangeType = function InitValidate() {
                        initModT('Save');

                        var form1 = $('#Define');
                        var error1 = $('.alert-danger', form1);
                        var success1 = $('.alert-success', form1);

                        form1.validate({
                            errorElement: 'span', //default input error message container
                            errorClass: 'help-block', // default input error message class
                            focusInvalid: false, // do not focus the last invalid input
                            ignore: "",
                            rules: {

                                Name: {
                                    required: true
                                },
                                ParentName: {
                                    required: true
                                },
                                CompanyId: {
                                    required: true
                                },
                                ProcessId: {
                                    required: true
                                },
                                BUnitId: {
                                    required: true
                                },
                                DivisionId: {
                                    required: true
                                },
                                IsActive: {
                                    required: false
                                }


                            },

                            messages: { // custom messages for radio buttons and checkboxes
                                IsActive: {
                                    required: "Please Activate"
                                },
                                //DepartmentCountryId: {
                                //    required: "<i class='fa fa-globe'></i>"

                                //},


                            },

                            invalidHandler: function (event, validator) {

                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert alert-warning '><span><i class='fa fa-warning'></i>Insuffeciant  Data</span><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();


                            },

                            highlight: function (element) { // hightlight error inputs
                                $(element)
                                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                                //$("[class=modal-body]").html("   ");
                                //  initModT('Save');// reset the modal so save mode
                                error1.show();
                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert-danger '><p><i class='fa fa-warning'></i> Insuffeciant  Data</p><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();

                            },

                            success: function (label) {
                                label.closest('.form-group').removeClass('has-error');
                                label.remove();
                                return true;
                                //$('[id=modalSave]').find('[class=modal-title]').html("Save");
                                //$('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to save this record?</p>");
                                //$('#fsbtn').show();

                            },

                            errorPlacement: function (error, element) {
                                //below will write the error after the control
                                //if (element.closest('.input-icon').size() === 1) {
                                //    error.insertAfter(element.closest('.input-icon'));
                                //} else {
                                //    error.insertAfter(element);
                                //}
                                //below will write the error in tooltip
                                var icon = $(element).parent('.input-icon').children('i');
                                icon.removeClass('fa-check').addClass("fa-warning");
                                icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                            },


                            submitHandler: function (form) {
                                $('[id=modalSave]').find('[class=modal-msg]').show();
                                success1.show();
                                error1.hide();
                                form.submit();
                            }
                        });


                    }


</script>