@model Hydron.Models.Definitions.RequestTransactionModel
@using (Html.BeginForm("Define", "RequestTransaction", FormMethod.Post, new { enctype = "multipart/form-data", id = "Define" }))
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @*<legend>Departments </legend>*@

        @{
            if (ViewData.ModelState["error"] != null)
            {  <div class="alert alert-danger ">
            <button class="close" data-close="alert"></button>
            @ViewData.ModelState["error"].Errors[0].ErrorMessage
        </div>}
        }
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            You have some form errors. Please check below.

        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            Your form validation is successful!
        </div>
        <div class="form-horizontal form-bordered">
            <div class="form-body">
               
                <div class="col-md-12">



                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ReadEdit)


                    <div class="form-group">
                        <label class="control-label col-md-3">Party<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.PartyId, Model.PartyNameList, new { @class = "select2 form-control placeholder-no-fix ", name = "PartyId" })
                            @Html.ValidationMessageFor(m => m.PartyId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Product<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.ProductCodeId, Model.ProductNameList, new { @class = "select2 form-control placeholder-no-fix ", name = "ProductCodeId" })
                            @Html.ValidationMessageFor(m => m.ProductCodeId)
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-md-3">Request Number<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.RequestNumber, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Request Number", name = "RequestNumber" })
                            @Html.ValidationMessageFor(m => m.RequestNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Sub Request Number<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.SubRequestNumber, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Sub Request Number", name = "SubRequestNumber" })
                            @Html.ValidationMessageFor(m => m.SubRequestNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Request Type<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.RequestTypeId, Model.RequestTypeList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "RequestTypeId" })
                            @Html.ValidationMessageFor(m => m.RequestTypeId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Account Number<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "AccountNumber", name = "AccountNumber" })
                            @Html.ValidationMessageFor(m => m.AccountNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Account Category<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.AcctCategoryId, Model.AcctCategoryList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "AcctCategoryId" })
                            @Html.ValidationMessageFor(m => m.AcctCategoryId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">ES Segment</label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.ESSegmentId, Model.ESSegmentList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "ESSegmentId" })
                            @Html.ValidationMessageFor(m => m.ESSegmentId)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Rate Plan<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.RatePlanId, Model.RatePlanList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "RatePlanId", id = "ratename", onChange = "RateOption(1)" })
                            @Html.ValidationMessageFor(m => m.RatePlanId)
                        </div>
                    </div>
                    @*
                    <div class="form-group">
                        <label class="control-label col-md-3">Rate Plan Description<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.RatePlanId, Model.RatePlanDescList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "RatePlanId", id = "ratedesc", onChange = "RateOption(0)" })
                            @Html.ValidationMessageFor(m => m.RatePlanId)
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label class="control-label col-md-3">Contract</label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.ContractId, Model.ContractList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "ContractList" })
                            @Html.ValidationMessageFor(m => m.ContractList)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">CBCM Status<span class="required">*</span></label>
                        <div class="col-md-9 input-icon">
                            @Html.DropDownListFor(m => m.ApprovalRequestStatusId, Model.CBCMStatusList, "--Select--", new { @class = "select2 form-control placeholder-no-fix ", name = "ApprovalRequestStatusId", id = "cbcmstatus", onChange = "ApprovalStatus(1)" })
                            @Html.ValidationMessageFor(m => m.ApprovalRequestStatusId)
                        </div>
                    </div>


                    @*<div class="form-group">
            <label class="control-label col-md-3">Approval Request Status<span class="required">*</span></label>
            <div class="col-md-9 input-icon">
                @Html.DropDownListFor(m => m.ApprovalRequestStatusId, Model.ApprovalRequestStatusList, new { @class = "select2 form-control placeholder-no-fix", name = "ApprovalRequestStatusId", id = "approvalstatus", onChange = "ApprovalStatus(0)" })
                @Html.ValidationMessageFor(m => m.ApprovalRequestStatusId)
            </div>
        </div>
                    *@



                    <div class="form-group">
                        <label class="control-label col-md-3">Amount MRC</label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.VariableAmount_MRC, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "20", placeholder = "Amount MRC", name = "VariableAmount_MRC" })
                            @Html.ValidationMessageFor(m => m.VariableAmount_MRC)

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Amount OTC</label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.VariableAmount_OTC, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "20", placeholder = "Amount OTC", name = "VariableAmount_OTC" })
                            @Html.ValidationMessageFor(m => m.VariableAmount_OTC)

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Amount QRC</label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.VariableAmount_QRC, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "20", placeholder = "Amount QRC", name = "VariableAmount_QRC" })
                            @Html.ValidationMessageFor(m => m.VariableAmount_QRC)

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Amount YRC</label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-font"></i>
                            @Html.TextBoxFor(m => m.VariableAmount_YRC, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "20", placeholder = "Amount YRC", name = "VariableAmount_YRC" })
                            @Html.ValidationMessageFor(m => m.VariableAmount_YRC)

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Remarks</label>
                        <div class="col-md-9  ">
                            @Html.TextAreaFor(m => m.ChargeDetails, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Remarks", name = "ChargeDetails" })
                        </div>
                    </div>





                    <div class="form-group">
                        <label class="control-label col-md-3">Is Active</label>
                        <div class="col-md-9 input-icon">
                            <i class="fa fa-lock"></i>
                            <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;Active&nbsp;" data-off-label="&nbsp;Inactive&nbsp;&nbsp;">
                                @Html.CheckBoxFor(m => m.IsActive, new { name = "IsActive", @checked = "", @class = "toggle" })
                            </div>

                        </div>
                        <label> @Html.ValidationMessageFor(m => m.IsActive)</label>
                    </div>


                    <div class="margiv-top-10">
                        <a data-toggle="modal" class="btn green" role="button" href="#modalSave" onclick="handleRequestTransaction();">Save Changes</a>

                    </div>
                    <div aria-hidden="true" aria-labelledby="myModalLabel3" role="dialog" tabindex="-1" class="modal fade" id="modalSave" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                    <h4 class="modal-title"> </h4>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <h5 class="modal-msg" style="display:none"> <span><img src='/assets/img/loading.gif'></span> </h5>
                                    <button aria-hidden="true" data-dismiss="modal" class="btn default">Close</button>
                                    @*<a class="btn red" href="~/Department/Delete?uId=@Model.DepartmentId" id="fdbtn"> // onclick="initModT('S ave'); removed, no need on close to reinitialize
                            <i class="fa fa-trash-o"></i> Delete
                        </a>*@
                                    <button type="submit" value="Save" class="btn green" id="fsbtn">
                                        <i class="fa fa-save"></i>Save

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

        </div>

    </fieldset>
            <div id="register_tnc_error"></div>

    }

<script type="text/javascript">
    $(document).ready(function () {
        /* code here */
        $('.date-picker').datepicker({
            format: "mm/dd/yyyy",
            todayBtn: "linked",
            language: "en"
        });

      
    /*alert($("select[name=ApprovalRequestStatusId]").val()); */

    });


    function ApprovalStatus(val) {
        if (val == 0) {
            $('#cbcmstatus').val($('#approvalstatus').val());
        } else {
            $('#approvalstatus').val($('#cbcmstatus').val());
        }
           
    }

    function RateOption(val) {
        if (val == 0) {
            $('#ratename').val($('#ratedesc').val());
        } else {
            $('#ratedesc').val($('#ratename').val());
        }

    }


                    jQuery(document).ready(function () {
                        

                        handleRequestTransaction();

                        




                    });

                    function toggleUpload() {
                        $('#rowupload').toggle(); $('#deflogoset').toggle(); $('#deflogo').toggle();

                    }

                    function initModT(type) {

                        if (type == "Delete") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Delete");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Delete this record?</p>");

                            $('#fbbtn').hide();
                            $('#fdbtn').show();


                        }

                        if (type == "Ban") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Activation");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Deactivate this record?</p>");

                            $('#fdbtn').hide();
                            $('#fbbtn').show();
                        }
                        if (type == "Save") {
                            $('[id=modalSave]').find('[class=modal-title]').html("Save");
                            $('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to Save this record?</p>");
                            $('#fsbtn').show();
                            $('#fdbtn').hide();
                            $('#fbbtn').hide();
                        }
                    }



                var handleRequestTransaction = function InitValidate() {
                        initModT('Save');

                        $('#RequestNumber').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#SubRequestNumber').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#AccountNumber').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#VariableAmount_MRC').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#VariableAmount_OTC').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#VariableAmount_QRC').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        $('#VariableAmount_YRC').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                    
                        $('#ChargeDetails').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });

                        

                        var form1 = $('#Define');
                        var error1 = $('.alert-danger', form1);
                        var success1 = $('.alert-success', form1);

                        form1.validate({
                            errorElement: 'span', //default input error message container
                            errorClass: 'help-block', // default input error message class
                            focusInvalid: false, // do not focus the last invalid input
                            ignore: "",
                            rules: {

                                RequestNumber: {
                                    required: true
                                },
                                SubRequestNumber: {
                                    required: true
                                },
                                AccountNumber: {
                                    required: true
                                },
                                IsActive: {
                                    required: false
                                }


                            },

                            messages: { 
                                IsActive: {
                                    required: "Please Activate"
                                },
                             
                            },

                            invalidHandler: function (event, validator) {

                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert alert-warning '><span><i class='fa fa-warning'></i>Insuffeciant  Data</span><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();


                            },

                            highlight: function (element) { // hightlight error inputs
                                $(element)
                                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                                //$("[class=modal-body]").html("   ");
                                //  initModT('Save');// reset the modal so save mode
                                error1.show();
                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert-danger '><p><i class='fa fa-warning'></i> Insuffeciant  Data</p><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();

                            },

                            success: function (label) {
                                label.closest('.form-group').removeClass('has-error');
                                label.remove();
                                return true;
                                //$('[id=modalSave]').find('[class=modal-title]').html("Save");
                                //$('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to save this record?</p>");
                                //$('#fsbtn').show();

                            },

                            errorPlacement: function (error, element) {
                                //below will write the error after the control
                                //if (element.closest('.input-icon').size() === 1) {
                                //    error.insertAfter(element.closest('.input-icon'));
                                //} else {
                                //    error.insertAfter(element);
                                //}
                                //below will write the error in tooltip
                                var icon = $(element).parent('.input-icon').children('i');
                                icon.removeClass('fa-check').addClass("fa-warning");
                                icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                            },


                            submitHandler: function (form) {
                                $('[id=modalSave]').find('[class=modal-msg]').show();
                                success1.show();
                                error1.hide();
                                form.submit();
                            }
                        });


                    }


</script>