@model Hydron.Models.Definitions.RequestTransactionModel

<div class="row">
    <div class="col-md-2">
        <ul class="list-unstyled profile-nav">
            <li>

            </li>
            <li class="divider"><br /> </li>


            <li>


            </li>


        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 profile-info">


                <h1 class="form-section">@Model.PartyName</h1>


                <ul class="list-unstyled">

                    <li><i class="fa fa-calendar"></i><label class="control-label">Date Created:</label> @Model.Created.Day/@Model.Created.Month/@Model.Created.Year  </li>
                    <li><i class="fa fa-info"></i><label class="control-label">Account No:</label> @Model.AccountNumber  </li>
                    <li><i class="fa fa-info"></i><label class="control-label">Account Category:</label> @Model.AcctCategoryName  </li>
                    <li>

                    </li>
                </ul>
            </div>
        </div>

        <!--end col-md-8-->
        <!--end col-md-4-->

        <div class="row-fluid col-md-6">
            <table class="table">
                <tr>

                    <th class="caption"> <i class="fa fa-building"></i> <label class="control-label"> Product Code: </label></th>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Request Number: </label></th>
                    <td> @Model.RequestNumber</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Sub Request Number: </label></th>
                    <td> @Model.SubRequestNumber</td>
                </tr>


                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Request Type: </label></th>
                    <td> @Model.RequestTypeName</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> ES Segment: </label></th>
                    <td> @Model.ESSegmentName</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Rate Plan: </label></th>
                    <td> @Model.RatePlanName</td>
                </tr>


                <tr>
                    <th><i class="fa fa-info"></i>    <label class="control-label"> Rate Plan Description: </label></th>
                    <td> @Model.RatePlanDesc</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Variable Amt MRC: </label></th>
                    <td> @Model.VariableAmount_MRC</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Variable Amt OTC: </label></th>
                    <td> @Model.VariableAmount_OTC</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Variable Amt QRC: </label></th>
                    <td> @Model.VariableAmount_QRC</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Variable Amt YRC: </label></th>
                    <td> @Model.VariableAmount_YRC</td>
                </tr>


                <tr>
                    <th><i class="fa fa-info"></i>    <label class="control-label"> Contract Period: </label></th>
                    <td> @Model.ContractName</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i> <label class="control-label"> Remarks: </label></th>
                    <td> @Model.ChargeDetails</td>
                </tr>
                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> Approval Request: </label></th>
                    <td> @Model.ApprovalRequestStatusName</td>
                </tr>

                <tr>
                    <th><i class="fa fa-info"></i>  <label class="control-label"> CBCM Status: </label></th>
                    <td> @Model.CBCMStatusName</td>
                </tr>
               
            </table>
        </div>
        

    </div>
        <!--end row-->


    </div>





