
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
 
        ViewBag.Title = "User Tree for Group:"+ @ViewBag.groupId;
  

}
<script src="~/assets/tree/jquery-3.4.1.min.js"></script>
<script src="~/assets/tree/jquery-ui.min.js"></script>
 <link href="~/assets/tree/src/skin-lion/ui.fancytree.css" rel="stylesheet"> 
 <script src="~/assets/tree/src/jquery.fancytree.js"></script>
<script src="~/assets/tree/src/jquery-ui-dependencies/jquery.fancytree.ui-deps.js"></script>
<script src="~/assets/tree/src/jquery.fancytree.dnd5.js"></script>
<script src="~/assets/tree/src/jquery.fancytree.edit.js"></script>

@*<link href="~/assets/tree/sample.css" rel="stylesheet" />*@
@*<script src="~/assets/tree/sample.js"></script>*@

<input type="hidden" value="@ViewBag.groupId" id="groupIdVal" />
<input type="hidden" value="@ViewBag.groupId" id="groupIdSelected" />
<input type="hidden" value="@ViewBag.groupId" id="ParentGroupId" />
<style type="text/css">
    span.drag-source {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 2px;
        background-color: silver;
    }

    ul.fancytree-container {
        max-height: 200px;
        overflow-y: scroll;
        width: 90%;
        display: inline-block;
    }

    #tree ul.fancytree-container {
        float: left;
    }

    span.fancytree-node.fancytree-drag-source {
        outline: 1px dotted grey;
    }

    span.fancytree-node.fancytree-drop-accept {
        outline: 1px dotted green;
    }

    span.fancytree-node.fancytree-drop-reject {
        outline: 1px dotted red;
    }

    .icon-user {
    color: grey;
}

.icon-leader {
    color: #58CCED;
}

.icon-manager {
    color: #1261A0;
}

.icon-admin {
    color: #072F5F;
}

  
</style>
<!-- Add code to initialize the tree when the document is loaded: -->


<script type="text/javascript">

    var pId = -1;
    var groupId = $("#groupIdVal").val();
    var groupIdSelected = $("#groupIdSelected").val();
$(function() {
  var LAST_EFFECT_DO = null,
      LAST_EFFECT_DD = null,
      lazyLogCache = {};

  /* Log if value changed, nor more than interval/sec.*/
  function logLazy(name, value, interval, msg) {
    if( !lazyLogCache[name] ) { lazyLogCache[name] = {stamp: now}};
    var now = Date.now(),
      entry = lazyLogCache[name];

    if( value && value === entry.value ) {
      return;
    }
    entry.value = value;

    if( interval > 0 && (now - entry.stamp) <= interval ) {
      return;
    }
    entry.stamp = now;
    lazyLogCache[name] = entry;
    console.log(msg);
  }

  // Attach the fancytree widget to an existing <div id="tree"> element
    // and pass the tree options as an argument to the fancytree() function:
 
 
  $("#tree").fancytree({
    
          extensions: ["dnd5"],
          treeId: "1",
          // titlesTabbable: true,
          source: { url: "/UserTree/GetTreeData?groupid=" + groupIdSelected, cache: false },
          init: function (event, data) {
               //Set key from first part of title (just for this demo output)
              data.tree.visit(function (n) {
                  n.icon = "~/assets/tree/avatar.png";
              });
          },
          dnd5: {
              // autoExpandMS: 400, // n.expanded = true;
              // preventForeignNodes: true,
              // preventNonNodes: true,
              preventRecursion: true, // Prevent dropping nodes on own descendants
              // preventSameParent: true,
              preventVoidMoves: true, // Prevent moving nodes 'before self', etc.
              // effectAllowed: "all",
              // dropEffectDefault: "move", // "auto",

              // --- Drag-support:
              dragStart: function (node, data) {

                  /* This function MUST be defined to enable dragging for the tree.
                    *
                    * Return false to cancel dragging of node.
                    * data.dataTransfer.setData() and .setDragImage() is available
                    * here.
                    */
                  node.debug("T1: dragStart: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                  ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);

                  // Set the allowed effects (i.e. override the 'effectAllowed' option)
                  data.effectAllowed = "all";

                  // Set a drop effect (i.e. override the 'dropEffectDefault' option)
                  // data.dropEffect = "link";
                  data.dropEffect = "copy";

                  if (node.title == "-----") {
                      return false;
                  }

                  node.setExpanded(true).always(function () {
                      // Wait until expand finished, then add the additional child
                      data.otherNode.moveTo(node, data.hitMode);
                  });

                  // We could use a custom image here:
                  // data.dataTransfer.setDragImage($("<div>TEST</div>").appendTo("body")[0], -10, -10);
                  // data.useDefaultImage = false;

                  // Return true to allow the drag operation
                  return true;
              },
              // dragDrag: function(node, data) {
              //   logLazy("dragDrag", null, 2000,
              //     "T1: dragDrag: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
              //     ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed );
              // },
              // dragEnd: function(node, data) {
              //   node.debug( "T1: dragEnd: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
              //     ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);
              //     alert("T1: dragEnd")
              // },

              // --- Drop-support:

              dragEnter: function (node, data) {
                  node.debug("T1: dragEnter: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);

                  // data.dropEffect = "copy";
                  return true;
              },
              dragOver: function (node, data) {
                  logLazy("dragOver", null, 2000,
                    "T1: dragOver: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed);

                  // Assume typical mapping for modifier keys
                  data.dropEffect = data.dropEffectSuggested;
                  // data.dropEffect = "move";
              },
              dragDrop: function (node, data) {
                  /* This function MUST be defined to enable dropping of items on
                    * the tree.
                    */

                  var newNode,
                    transfer = data.dataTransfer,
                    sourceNodes = data.otherNodeList,
                    mode = data.dropEffect;

                  node.debug("T1: dragDrop: effect=" + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + transfer.dropEffect + "/" + transfer.effectAllowed, data);

                  //alert("Drop on " + node + ":\n"
                  //  + "source:" + JSON.stringify(data.otherNodeData) + "\n"
                  //  + "hitMode:" + data.hitMode
                  //  + ", dropEffect:" + data.dropEffect
                  //  + ", effectAllowed:" + data.effectAllowed);


                  //region add/update db
                  var nUserId = data.otherNodeData.key;
                  var nUsername = data.otherNodeData.title;
                  var nParentId = 0;
                  var treeId = Number(data.otherNodeData.treeId);
                  var roleId = $('#ddRolesAdd').val();


                  switch (treeId) {//drag inside tree
                      case 1:
                          if (data.hitMode == "over") {//drag from list to tree
                              nParentId = node.key;
                          }
                          else {
                              if (node.parent.key.search("root_") == 0) { //if root
                                  nParentId = 0;
                              }
                              else if (node.parent.key.search("root_") == -1) { //if not root
                                  nParentId = node.parent.key;
                              }
                          }
                          $.post('/UserTree/UpdateNodeParent', { selectedId: nUserId, parentId: nParentId, groupId: groupIdSelected },
                                 function (returnedData) {
                                     if (returnedData) { //alert("success update");
                                     }

                                 }).fail(function () {
                                     alert("Error on updating");
                                 });

                          break;
                      case 2:
                          if (data.hitMode == "over") {//drag from list to tree
                              nParentId = node.key;
                          }
                          else {
                              if (node.parent.key.search("root_") == 0) { //if root
                                  nParentId = 0;
                              }
                              else if (node.parent.key.search("root_") == -1) { //if not root
                                  nParentId = node.parent.key;
                              }
                          }
                       
                          $.post('/UserTree/AddNode', { userId: nUserId, userName: nUsername, parentId: nParentId, userRole: roleId, groupId: groupIdSelected },
                             function (returnedData) {
                                 alert("success added to tree");
                             }).fail(function () {
                                 alert("Error adding");
                             });

                          break;
                      default:
                          // code block
                  }
                  //endregion


                  if (data.hitMode === "after") {
                      // If node are inserted directly after tagrget node one-by-one,
                      // this would reverse them. So we compensate:
                      sourceNodes.reverse();
                  }
                  if (data.otherNode) {
                      // Drop another Fancytree node from same frame (maybe a different tree however)
                      var sameTree = (data.otherNode.tree === data.tree);

                      if (mode === "move") {
                          data.otherNode.moveTo(node, data.hitMode);
                      } else {
                          newNode = data.otherNode.copyTo(node, data.hitMode);
                          if (mode === "link") {
                              newNode.setTitle("Link to " + newNode.title);
                          } else {
                              newNode.setTitle("Copy of " + newNode.title);
                          }
                      }
                  } else if (data.otherNodeData) {
                      // Drop Fancytree node from different frame or window, so we only have
                      // JSON representation available
                      node.addChild(data.otherNodeData, data.hitMode);
                  } else if (data.files.length) {
                      // Drop files
                      for (var i = 0; i < data.files.length; i++) {
                          var file = data.files[i];
                          node.addNode({ title: "'" + file.name + "' (" + file.size + " bytes)" }, data.hitMode);
                          // var url = "'https://example.com/upload",
                          //     formData = new FormData();

                          // formData.append("file", transfer.files[0])
                          // fetch(url, {
                          //   method: "POST",
                          //   body: formData
                          // }).then(function() { /* Done. Inform the user */ })
                          // .catch(function() { /* Error. Inform the user */ });
                      }
                  } else {
                      // Drop a non-node
                      node.addNode({ title: transfer.getData("text") }, data.hitMode);
                  }
                  node.setExpanded();
              },
              //dragLeave: function (node, data) {
              //    alert("leave");
              //},

          },
          // activate: function(event, data) {
          //   alert("activate " + data.node);
          // },
          lazyLoad: function (event, ctx) {
              ctx.result = { url: "/UserTree/GetSubTreeData?Node=" + ctx.node.key + "&groupid=" + groupIdSelected, debugDelay: 1000 };
          },
          loadChildren: function (event, data) {
              data.node.visit(function (subNode) {
                  // Load all lazy/unloaded child nodes
                  // (which will trigger `loadChildren` recursively)
                  if (subNode.isUndefined() && subNode.isExpanded()) {
                      subNode.load();
                      alert("loadchildren");
                  }
              });
          },
          icon: function (event, data) {
              var node = data.node;
              // Create custom icons
              if (node.data.userRole == 0) {
                  return "fa fa-circle icon-admin";
              }
              else if (node.data.userRole == 1) {
                  return "fa fa-circle icon-user";
              }
              else if (node.data.userRole == 2) {
                  return "fa fa-circle icon-leader";
              }
              else if (node.data.userRole == 3) {
                  return "fa fa-circle icon-manager";
              }
              else if (node.data.userRole == -1) {
                  return "fa fa-gear";
              }

              // Otherwise no value is returned, so continue with default processing
          },
          click: function (e, data) {
              $('#ddRolesUpdate').val(Number(data.node.extraClasses));
          },
      });


      $("#tree2").fancytree({
          extensions: ["dnd5"],
          treeId: "2",
          //source: { url: "/UserTree/GetUserList", cache: false },
          source: { url: "/UserTree/GetTreeData?groupid=" + groupId + "&listType=99&selectedGroup=" + groupIdSelected, cache: false },
          init: function (event, data) {
              // Set key from first part of title (just for this demo output)
              data.tree.visit(function (n) {
                  n.key = n.key;
                  n.expanded = false;
              });
          },
          dnd5: {
              // --- Drag-support:
              dragStart: function (node, data) {
                  node.debug("T2: dragStart: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);

                  data.effectAllowed = "all";
                  data.dropEffect = data.dropEffectSuggested;

                  data.node.extraClasses = $('#ddRolesAdd').val();

                  if (node.key == 0)
                  {
                      return false;
                  }

                  return true;
              },
              // dragEnd: function(node, data) {
              //   node.warn( "T2: dragEnd: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
              //     ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data );
              //     alert("T2: dragEnd")
              // },
              // --- Drop-support:
              dragEnter: function (node, data) {
                  node.debug("T2: dragEnter: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);
                  //return true;


                  return ["before", "after"]; //this is not allow to drop over.



              },
              dragOver: function (node, data) {
                  logLazy("dragOver", null, 2000,
                    "T2: dragOver: " + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed);

                  data.dropEffect = data.dropEffectSuggested;


              },
              dragDrop: function (node, data) {
                  var newNode,
                  transfer = data.dataTransfer,
                  sourceNodes = data.otherNodeList,
                  mode = data.dropEffect;


                  //region add/update db
                  var nUserId = data.otherNodeData.key;
                  var treeId = Number(data.otherNodeData.treeId);
                  switch (treeId) {//drag inside tree
                      case 1:
                          $.post('/UserTree/DeleteNode', { selectedId: nUserId, groupId: groupIdSelected },
                              function (returnedData) {
                                  if (returnedData) { alert("success removed from the tree"); }
                                  else 
                                  {
                                      alert("Error on deleting parent node");
                                   
                                  }

                              }).fail(function () {
                                  alert("Error on deleting");
                              });
                          break;
                      case 2:

                          break;
                      default:
                          // code block
                  }
                  //endregion


                  // don't open links, files, ... even if an error occurs in this handler:
                  data.originalEvent.preventDefault();

                  node.debug("T2: dragDrop: effect=" + "data: " + data.dropEffect + "/" + data.effectAllowed +
                    ", dataTransfer: " + data.dataTransfer.dropEffect + "/" + data.dataTransfer.effectAllowed, data);

                  if (data.hitMode === "after") {
                      // If node are inserted directly after tagrget node one-by-one,
                      // this would reverse them. So we compensate:
                      sourceNodes.reverse();
                  }
                  if (data.otherNode) {
                      // Drop another Fancytree node from same frame
                      // (maybe from another tree however)
                      var sameTree = data.otherNode.tree === data.tree;

                      if (mode === "move") {
                          data.otherNode.moveTo(node, data.hitMode);
                      } else {
                          newNode = data.otherNode.copyTo(node, data.hitMode);
                          if (mode === "link") {
                              newNode.setTitle("Link to " + newNode.title);
                          } else {
                              newNode.setTitle("Copy of " + newNode.title);
                          }
                      }
                  } else if (data.otherNodeData) {
                      // Drop Fancytree node from different frame or window, so we only have
                      // JSON representation available
                      node.addChild(data.otherNodeData, data.hitMode);
                  } else if (data.files.length) {
                      // Drop files
                      for (var i = 0; i < data.files.length; i++) {
                          var file = data.files[i];
                          node.addNode({ title: "'" + file.name + "' (" + file.size + " bytes)" }, data.hitMode);
                      }

                  } else {
                      // Drop a non-node
                      node.addNode(
                        {
                            title: transfer.getData("text"),
                        },
                        data.hitMode
                      );
                  }
                  node.setExpanded();

              },
          },
      });
      $("#tree3").fancytree({
          extensions: ["edit"],
          treeId: "3",
          selectMode: 3,
          source: { url: "/UserTree/GetUserGroups?groupId=" + groupId, cache: false },
          // The following options are only required, if we have more than one tree on one page:
          cookieId: "fancytree-Cb3",
          idPrefix: "fancytree-Cb3-",
          click: function (event, data) {
              var node = data.node,
                  // Only for click and dblclick events:
                  // 'title' | 'prefix' | 'expander' | 'checkbox' | 'icon'
                  targetType = data.targetType;

              // we could return false to prevent default handling, i.e. generating
              // activate, expand, or select events
           
              reloadTreeByGroup(node.key, node.title);

              reloadUserByGroup(node.key);

          },
          edit: {
              triggerStart: ["clickActive", "dblclick", "f2", "mac+enter", "shift+click"],
              beforeEdit: function (event, data) {
                  // Return false to prevent edit mode
              },
              edit: function (event, data) {
                  // Editor was opened (available as data.input)
              },
              beforeClose: function (event, data) {
                  // Return false to prevent cancel/save (data.input is available)
                  console.log(event.type, event, data);
                  if (data.originalEvent.type === "mousedown") {
                      // We could prevent the mouse click from generating a blur event
                      // (which would then again close the editor) and return `false` to keep
                      // the editor open:
                      //                  data.originalEvent.preventDefault();
                      //                  return false;
                      // Or go on with closing the editor, but discard any changes:
                      //                  data.save = false;
                  }
              },
              focus: function (event, data) {
                  pId = data.node.key;
              },
              save: function (event, data) {
                  // Save data.input.val() or return false to keep editor open
                  var str = data.node.key.includes("_");

                  if (str) {     //add node                  
                      var nodeName = data.input.val();
                      var ParentGroupId = $('#ParentGroupId').val();

                      $.post('/UserTree/AddGroup', { nodeName: nodeName, parentGroupId: ParentGroupId },
                      function (returnedData) {

                          if (returnedData > 0) {
                              alert("Added Group Successfully.");
                              reloadGroup();
                          }
                          else {
                              alert("Failed to add group");
                          }
                      }).fail(function () {
                          alert("Error adding");
                      });
                  }
                  else {
                      var nodeName = data.input.val();
                      var selectedId = data.node.key;

                      $.post('/userTree/UpdateGroup', { nodeName: nodeName, selectedId: selectedId },
                     function (returnedData) {
                         if (returnedData) {
                             alert("Update Group Successfully.");
                         }
                         else {
                             alert("Failed to update group");
                         }

                     }).fail(function () {
                         alert("Error Update");
                     });
                  }


                  console.log("save...", this, data);
                  // Simulate to start a slow ajax request...
                  setTimeout(function () {
                      $(data.node.span).removeClass("pending");
                      // Let's pretend the server returned a slightly modified
                      // title:
                      //data.node.setTitle(data.node.title + "!");
                      data.node.folder = true;
                  }, 2000);
                  // We return true, so ext-edit will set the current user input
                  // as title
                  return true;
              },
              close: function (event, data) {
                  // Editor was removed
                  if (data.save) {

                      // Since we started an async request, mark the node as preliminary
                      $(data.node.span).addClass("pending");
                  }
              }
          }

      });
});

//$(function(){
//addSampleButton({
//    label: "Reload tree",
//    newline: false,
//    code: function () {
//        //$("#tree").remove();
//        //$("#tree2").remove();
//        //$("#tree_container").append('<div id="tree"></div><div id="tree2"></div>');
//        var tree = $("#tree").fancytree();
//        tree.reload().done(function () {

//        });
//    }
//});


function reloadTree()
{
    groupIdSelected = $("#groupIdSelected").val();
 var tree = $("#tree").fancytree();
tree.reload().done(function () {

  });
    
}
function reloadTree2() {

    var tree2 = $("#tree2").fancytree();
    tree2.reload().done(function () {

    });
}
 

function UpdateRole()
{
    var node = $("#tree").fancytree("getActiveNode");
    if (!node) {
        alert("Please select user.");
        return;
    }

    //var nUserRole = $('#roleIdUpdate').val();
    var nUserRole = $('#ddRolesUpdate').val();
    var nUserId = node.key;

    $.post('/UserTree/UpdateNodeRole', { userRole: nUserRole, selectedId: nUserId, groupId: groupIdSelected },
                          function (returnedData) {
                              if (returnedData) {

                                  node.extraClasses = nUserRole;
                                  alert("success update user Role");
                              }
                          }).fail(function () {
                              alert("Error on deleting");
                          });
}



function AddGroupNode() {
    // Sample: add an hierarchic branch using code.
    // This is how we would add tree nodes programatically
    var node = $("#tree3").fancytree("getRootNode");
    node.editCreateNode("child", "Node title");
}

function DeleteGroupNode() {
    var node = $("#tree3").fancytree("getActiveNode");
    if (node == null) {
        alert("Please select Group.")
    }
    else if (node.key == 0) {
        alert("Invalid Selection.");
    }

    else {
        //region Remove Selected node
        node.remove();
        var selectedId = node.key;
        $.post('/UserTree/DeleteGroup', { selectedId: selectedId },
       function (returnedData) {
           if (returnedData) {
               alert("Delete Group Successfully.");
               reloadTreeByGroup(-1);
               reloadUserByGroup(-1);
           }
           else {
               alert("Failed to delete group");
           }

       }).fail(function () {
           alert("Error on deleting");
       });
        //endregion

    }
}

function reloadTreeByGroup(selectedId,title) {
   

    $.ui.fancytree.getTree("#tree").reload({
        url: "/UserTree/GetTreeData?groupId=" + selectedId
    }).done(function () {
        $('#groupIdSelected').text(selectedId);
        $('#GroupNameSelected').text(title);
        groupIdSelected = selectedId;
    });
}

function reloadUserByGroup(selectedId) {
    debugger;
    var nGroupId = $('#ParentGroupId').val();
    $('#groupIdSelected').text(selectedId);
    groupIdSelected = selectedId;
    $.ui.fancytree.getTree("#tree2").reload({
        url: "/UserTree/GetTreeData?groupId=" + nGroupId + "&listType=99&selectedGroup=" + groupIdSelected
    }).done(function () {
       
    });
}

function reloadGroup() {
    var nGroupId = $('#ParentGroupId').val();
   // groupIdSelected = selectedId;

    $.ui.fancytree.getTree("#tree3").reload({
        url: "/UserTree/GetUserGroups?groupId=" + nGroupId
    }).done(function () {
       // $('#groupIdSelected').text(selectedId);
    });
}
//addSampleButton({
//    label: "Update Role",
//    newline: false,
//    code: function () {
//        var node = $("#tree").fancytree("getActiveNode");
//        if (!node) {
//            alert("Please select user.");
//            return;
//        }

//        //var nUserRole = $('#roleIdUpdate').val();
//        var nUserRole = $('#ddRolesUpdate').val();
//        var nUserId = node.key;

//        $.post('/UserTree/UpdateNodeRole', { userRole: nUserRole, selectedId: nUserId, groupId: groupId },
//                              function (returnedData) {
//                                  if (returnedData) {
                                    
//                                      node.extraClasses = nUserRole;
//                                      alert("success update user Role");
//                                  }
//                              }).fail(function () {
//                                  alert("Error on deleting");
//                              });

//    }
//});
//});

$(function(){

    $('#ddRolesAdd').val(1);
    $('#ddRolesUpdate').val(1);
});

</script>
    <div id="tree_container"> @*div tree_container import for refresh tree*@
    <div class="col-md-12">

        <div class="col-md-4">

            <div class="portlet sale-summary light" style="display: block">
                <div class="portlet-title">
                    <div class="caption">
                      @ViewBag.groupTitle
                        
                    </div>
                    <div class="tools">


 
                    </div>
                </div>
                <div class="portlet-body" id="prosmry" style="display: block;margin-bottom: -15px;">

                    <div id="tree3"></div>
                    <a class="btn btn-info" onclick="AddGroupNode();">Add Group</a>
                    <a class="btn btn-danger" onclick="DeleteGroupNode();">Delete Group</a>

                </div>
            </div>
                </div>
                <div class="col-md-4">
                    <div class="portlet sale-summary light" style="display: block">
                        <div class="portlet-title">
                            <div class="caption">
                                User Hirarchy Tree
                                <span id="GroupNameSelected"></span>

                            </div>
                            <div class="tools">



                                <a href="javascript:;" class="reload" id="c10f1d686ca846dbad71ccf0a2ds5bcd1b" onclick="reloadTreeByGroup($('#groupIdSelected').text());"></a>
                            </div>
                        </div>
                        <div class="portlet-body" id="prosmry" style="display: block;margin-bottom: -15px;">


                            <div class="row">
                                Choose Role @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.userRoleList, new { id = "ddRolesUpdate", @class = "" })
                                <a href="javascript:;" class="btn  btn-warning btn-xs   " id="c10f1d686ca846dbadb" onclick="UpdateRole();">Update Role</a>

                                <div class="col-md-12 col-xs-12 margin-top-10">

                                    <div id="tree" class="col-md-12 col-xs-12"></div>

                                </div>




                            </div>








                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="portlet sale-summary light" style="display: block">
                        <div class="portlet-title">
                            <div class="caption">
                                Users List


                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="javascript:;" class="reload" id="c10f1d686ca846dbad71ccf0a25bcd1b" onclick="reloadUserByGroup($('#groupIdSelected').text());"></a>
                            </div>
                        </div>
                        <div class="portlet-body" id="prosmry" style="display: block;margin-bottom: -15px;">



                            <div class="row">
                                Select User Role (Add) @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.userRoleList, new { id = "ddRolesAdd", @class = "" })
                                <div class="col-md-12 col-xs-12  margin-top-10">




                                    <div id="tree2" class="col-md-12 col-xs-12"></div>

                                </div>




                            </div>








                        </div>
                    </div>

                </div>
            </div>



        </div>    
     
