@model Hydron.Models.Definitions.Consequence_LockupModel

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 profile-info">
                <h1 class="form-section">@Model.Name</h1>
                <ul class="list-unstyled">    
                    
                    <li>
                        <i class="fa fa-check-circle-o"></i><label class="control-label">Status:</label><a href="#">
                            @switch (Model.IsActive)
                            {
                                case true: <span class="label label-sm label-success">Active</span>
                                    break;
                                case false: <span class="label label-sm label-warning">Not Active</span>
                                    break;
                            }
                        </a>
                    </li>
                                                     
                    <li><i class="fa fa-calendar"></i><label class="control-label">Value:</label> @Model.Value</li>
                    <li><i class="fa fa-calendar"></i><label class="control-label">Company Id:</label> @Model.CompanyId</li>                  
                    <li><i class="fa fa-building"></i><label class="control-label">ProcessId: </label> @Model.ProcessId</li>                                     
                    
                    <li><i class="fa fa-calendar"></i><label class="control-label">BUnit Id:</label> @Model.BUnitId</li>
                    <li><i class="fa fa-calendar"></i><label class="control-label">Division Id:</label> @Model.DivisionId</li>
                    <li><i class="fa fa-calendar"></i><label class="control-label">Dated:</label> @Model.Dated</li>
                </ul>
            </div>
        </div>    

                <!--end col-md-8-->
                <!--end col-md-4-->
            </div>
            <!--end row-->

          
        </div>







<script>
   
</script>
        <script type="text/javascript">


            //function getBranchList(e) {
               
            //    var el = jQuery('#Treediv');
            //    App.blockUI(el);
            //    window.setTimeout(function () {
            //        App.unblockUI(el);
            //    }, 2000);

            //    $.get("/BCompanies/_subTree?parentId=" + $(e).attr("id"), function (data) {


            //        $('#Treediv').html(data);




            //    }).fail(function () {

            //        showtoasteralert('warning', 'Ajax', 'error', this);

            //    })

            //    ;
            //};

          
            
            

        </script> 