@model IEnumerable<Hydron.Models.Definitions.ProcessFieldSetupModel>

<div class="modal fade" id="portlet-config-users" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><span id="model-title-span">Settings</span></h4>
            </div>
            <div class="modal-body">

                <a href="javascript:;" class="search" onclick="enableAdvancedT(this);" id="icoSearchm">Enable Advanced Table</a>

                <div class="actions" style="display:none">
                    <h5>Hide and show columns</h5>



                    <div id="sample_2_column_toggler" class=" hold-on-click checkboxes pull-right">
                        <label><input type="checkbox" checked data-column="0">ProcessId</label>
                        <label><input type="checkbox" checked data-column="1">TableId</label>
                        <label><input type="checkbox" checked data-column="2">ShowHide</label>
                        <label><input type="checkbox" checked data-column="3">Default Value</label>
                        <label><input type="checkbox" checked data-column="4">Mandatory</label>
                        <label><input type="checkbox" checked data-column="5">Default Int</label>                      
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn blue" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<table class="table table-striped table-bordered table-hover table-full-width" id="sample_2">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("ColumnId")
            </th>

            <th>
                @Html.DisplayName("Column Name")
            </th>
            <th>
                @Html.DisplayName("ProcessId")
            </th>
            <th>
                @Html.DisplayName("TableId")
            </th>
            <th>
                @Html.DisplayName("ShowHide")
            </th>
            <th>
                @Html.DisplayName("Default Value")
            </th> 
            <th>
                @Html.DisplayName("Is Mandatory")
            </th>    
            <th>
                @Html.DisplayName("Default Int")
            </th>    
            <th>
                @Html.DisplayName("Extra Text")
            </th>    
            <th>
                @Html.DisplayName("Extra Int")
            </th>    
            <th>
                @Html.DisplayName("Is Enabled")
            </th>    
                    
            <th>@Html.DisplayName("Action")</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColumnId)
                </td>    
                <td>
                    @*@Html.DisplayFor(modelItem => item)*@
                    @Html.DisplayFor(modelItem => item.FieldName)
                   
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableId)
                </td>
                <td>
                    @{

            @*switch (item.ShowHide)
            {
                case true: <span class="label label-sm label-success">True</span>
                    break;
                case false: <span class="label label-sm label-warning">False</span>
                    break;
            }*@

            <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;Active&nbsp;" data-off-label="&nbsp;Inactive&nbsp;&nbsp;">
                @Html.CheckBoxFor(m => item.ShowHide, new { name = "ShowHide_"+item.Id.ToString(), id = "ShowHide_"+@item.Id.ToString(), @checked = "", @class = "toggle" })
            </div>
                    }

                   
                       
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.DefaultValue)*@
                    @Html.TextBoxFor(m => item.DefaultValue, new { @class = "placeholder-no-fix form-control", type = "text", autocomplete = "off", maxlength = "100", placeholder = "", name = "DefaultValue_"+ item.Id.ToString(), id = "DefaultValue_" + item.Id.ToString() })
                    @*@Html.ValidationMessageFor(m => item.DefaultValue)*@

                </td>
                <td>
                    @{

                        @*switch (item.ManOptional)
                        {
                            case true: <span class="label label-sm label-success">Yes</span>
                                break;
                            case false: <span class="label label-sm label-warning">No</span>
                                break;
                        }*@
                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;Active&nbsp;" data-off-label="&nbsp;Inactive&nbsp;&nbsp;">
                            @Html.CheckBoxFor(m => item.ManOptional, new { name = "ManOptional_" + item.Id.ToString(), id = "ManOptional_" + @item.Id.ToString(), @checked = "", @class = "toggle" })
                        </div>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultInt)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraInt)
                </td>
                <td>
                    @{

                        @*switch (item.Enabled)
                        {
                            case true: <span class="label label-sm label-success">Yes</span>
                                break;
                            case false: <span class="label label-sm label-warning">No</span>
                                break;
                        }*@
                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;Active&nbsp;" data-off-label="&nbsp;Inactive&nbsp;&nbsp;">
                            @Html.CheckBoxFor(m => item.Enabled, new { name = "Enabled_" + item.Id.ToString(), id = "Enabled_" + @item.Id.ToString(), @checked = "", @class = "toggle" })
                        </div>

                    }

                </td>
               
                

                <td>

                    @Html.ActionLink("view", "Define", "ProcessFieldSetup", new { rId = item.Id, cId = item.ColumnId, vw = "r" }, new { @class = "btn default btn-xs blue-stripe fa fa-eye" }) |
                    @Html.ActionLink("edit", "Define", "ProcessFieldSetup", new { rId = item.Id, cId = item.ColumnId, vw = "e" }, new { @class = "btn default btn-xs yellow-stripe fa fa-edit" })
                    @*<button type="button" value="Save" id="Save_@item.Id" name="btnSave" data-title="@item.Id" />*@
                    <button onclick="SaveChanges(@item.Id);">Save</button> 
                </td>

            </tr>

        }
    </tbody>
</table>

<script type="text/javascript">
  
    function SaveChanges(id){
        var ShowHide = false;
        var ManOptional = false;
        var Enabled = false;
        var DefaultValue = $('#DefaultValue_' + id).val();
        
        if ($('#ShowHide_'+id).is(":checked"))
        {           
            ShowHide = true;
        }
        if ($('#ManOptional_' + id).is(":checked")) {
            ManOptional = true;
        }
        if ($('#Enabled_' + id).is(":checked")) {
            Enabled = true;
        }
     
        var rec = {
            id: id,
            ShowHide: ShowHide,
            ManOptional: ManOptional,
            Enabled: Enabled,
            DefaultValue: DefaultValue
        }
        $.ajax({
            type: 'POST',
            url: '/ProcessFieldSetup/QuickUpdate',
            data: rec,
            success: function (data) {
                        alert(data.success);
                    },
                    error: function () {
                        alert("error");
                    }
        });
    }

   

   

    var enableAdvancedT = function (e) {
        initSearch(e);
        $('#icoSearch').hide();
        $('#icoSearchm').hide();
        $('.modal-body').find('.actions').show();

    }


    


</script>