@model Hydron.Models.Definitions.ProcessFieldSetupModel

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 profile-info">


                <h1 class="form-section">Process Id: @Model.ProcessId</h1>
                @Model.ColumnId

                <ul class="list-unstyled">
                   
                    <li>
                        <i class="fa fa-check-circle-o"></i><label class="control-label">Show:</label><a href="#">
                            @switch (Model.ShowHide)
                            {
                                case true: <span class="label label-sm label-success">Yes</span>
                                    break;
                                case false: <span class="label label-sm label-warning">No</span>
                                    break;
                            }
                        </a>
                    </li>

                    <li><i class="fa fa-info"></i><label class="control-label">Table Id:</label> @Model.TableId  </li>
                   
                    <li><i class="fa fa-info"></i><label class="control-label">Default Value: </label>@Model.DefaultValue</li>
                    <li><i class="fa fa-info"></i><label class="control-label">Default Flag: </label>@Model.ManOptional</li>
                    <li><i class="fa fa-info"></i><label class="control-label">Default Int: </label>@Model.DefaultInt</li>

                    <li><i class="fa fa-building"></i><label class="control-label">Extra Text: </label></li>
                    
                    <li>@Model.ExtraText</li>
                    <li>

                    </li>
                    <li><i class="fa fa-info"></i><label class="control-label">Extra Int:</label> @Model.ExtraInt  </li>
                    <li><i class="fa fa-info"></i><label class="control-label">Extra Bit:</label> @Model.Enabled  </li>

                </ul>
            </div>
        </div>    

                <!--end col-md-8-->
                <!--end col-md-4-->
            </div>
            <!--end row-->

          
        </div>







<script>
   
</script>
        <script type="text/javascript">


            //function getBranchList(e) {
               
            //    var el = jQuery('#Treediv');
            //    App.blockUI(el);
            //    window.setTimeout(function () {
            //        App.unblockUI(el);
            //    }, 2000);

            //    $.get("/BCompanies/_subTree?parentId=" + $(e).attr("id"), function (data) {


            //        $('#Treediv').html(data);




            //    }).fail(function () {

            //        showtoasteralert('warning', 'Ajax', 'error', this);

            //    })

            //    ;
            //};

          
            
            

        </script> 