@model IEnumerable<Hydron.Models.Definitions.OptionsLockupModel>

@{
  
    ViewBag.linkname = "Business Tree";
    ViewBag.linkurl = "BusinessTree";
    ViewBag.linkicon = "fa-sitemap";

    ViewBag.Title = "OptionsLockup";
    ViewBag.linkname2 = "OptionsLockup";
    ViewBag.linkurl2 = "OptionsLockupList";
    ViewBag.linkicon2 = "fa-list";
   
     
}
<link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="~/assets/plugins/data-tables/DT_bootstrap.css" />


@* This function is in the layout page *@
@section NotifyDocumentReady {
 
   
         showtoasteralert('@TempData["flag"]','@TempData["title"]','@TempData["statusMsg"]',  this);

}





<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-list"></i> @ViewBag.Title </div>


        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="search" onclick="enableAdvancedT(this);" id="icoSearch"> </a>
            <a href="#portlet-config-users" data-toggle="modal" class="config"></a>
            <a class="reload" onclick="reloadme(this);"></a>

            @*@Ajax.ActionLink(".", "_personalInfo", "Account", new { uId = 2 }, new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div-editUser" }, new { @class = "reload" })*@
            <a href="javascript:;" class="remove"></a>

        </div>
        <div class="actions">
            <div class="btn-group">
                <a href="~/OptionsLockup/Define?rId=-1&vw=e" class="btn btn-sm blue">
                    <i class="fa fa-pencil-square"></i>  Add New

                </a>


            </div>
        </div>
    </div>



    <div class="portlet-body" id="reloadiv">


        <div id="div-list">

            @Html.Partial("_GetList", Model)
            @*  @Ajax.BeginForm("_GetUsersListP1", new AjaxOptions { Url = "/user/_GetUsersListP1", HttpMethod="Get",InsertionMode=InsertionMode.Replace})*@

        </div>

    </div>

</div>

<script src="~/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>






<script>

    //jQuery(document).ready(function () {

    //    TableAdvanced.init();

    //});
    function reloadme(e) {
        $('#icoSearch').show();



        $.ajax({
            async: false,
            cache: false,
            type: "get",
            url: "/bOptionsLockup/_GetList",
            success: function (data) {
                $('#div-list').html(data);
                //do something useful
            },
            error: function (XMLHttpRequest, status, error) {
                //do nothing
            }
        });//ajax

    };



    function initSearch(e) {

        var el = jQuery('#tab_1_11');
        App.blockUI(el);
        window.setTimeout(function () {
            App.unblockUI(el);
        }, 1000);
        TableAdvanced.init();







    }



</script>
