@model Hydron.Models.Definitions.CreditCardModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/scripts/plugins.bundle.js"></script>

<link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
<link href="~/assets/css/style.bundle.css" rel="stylesheet" />


@using (Html.BeginForm("Index", "Payment", FormMethod.Post, new { enctype = "multipart/form-data", id = "kt_form_2" }))
{@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <div class="container">
        <div class="row">
            <div class=".col-md-6 center-block">
                <div class="card card-custom example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">Billing Information</h3>

                    </div>
                   
                        <div class="card-body">

                            <div class="mb-3">
                                <div class="mb-2">
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>* Cardholder Name:</label>
                                            @*<input type="text" name="billing_card_name" class="form-control" placeholder="" value="" />*@
                                            @Html.TextBoxFor(m => m.CardHolderName, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "50", placeholder = "", name = "CardHolderName" })
                                            @Html.ValidationMessageFor(m => m.CardHolderName)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>* Card Number:</label>
                                            @*<input type="text" name="billing_card_number" class="form-control" placeholder="" value="" />*@
                                            @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "25", placeholder = "", name = "CardNumber" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-4 mb-3">
                                            <label>* Exp Month:</label>
                                            @Html.DropDownListFor(m => m.ExpMonth, (IEnumerable<SelectListItem>)ViewBag.ExpiryMonthData, new { @class = "form-control placeholder-no-fix ", name = "ExpMonth" })
                                            @*<select class="form-control" name="billing_card_exp_month">
                                                <option value="">Select</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>*@
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                            <label>* Exp Year:</label>
                                            @Html.DropDownListFor(m => m.ExpYear, (IEnumerable<SelectListItem>)ViewBag.ExpiryYearData, new { @class = "form-control placeholder-no-fix ", name = "ExpYear" })
                                            @*<select class="form-control" name="billing_card_exp_year">
            <option value="">Select</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>*@
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                            <label>* CVV:</label>
                                            @*<input type="number" class="form-control" name="billing_card_cvv" placeholder="" value="" />*@
                                            @Html.TextBoxFor(m => m.Cvv, new { @class = "form-control placeholder-no-fix", type = "number", autocomplete = "off", maxlength = "3", placeholder = "", name = "Cvv" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    @*<button type="submit" class="btn btn green btn-block font-weight-bold mr-2" name="submitButton">Pay Now</button>*@
                                    <button type="submit" class="btn green btn-block font-weight-bold mr-2">Pay Now</button>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>

</fieldset>

}



    <script type="text/javascript">
        $(document).ready(function () {
            FormValidation.formValidation(
                document.getElementById('kt_form_2'),
                {
                    fields: {
                        //CardHolderName: {
                        //    validators: {
                        //        notEmpty: {
                        //            message: 'Card Holder Name is required'
                        //        }
                        //    }
                        //},
                        CardNumber: {
                            validators: {
                                notEmpty: {
                                    message: 'Credit card number is required'
                                },
                                creditCard: {
                                    message: 'The credit card number is not valid'
                                }
                            }
                        },
                        ExpMonth: {
                            validators: {
                                notEmpty: {
                                    message: 'Expiry Month is required'
                                }
                            }
                        },
                        ExpYear: {
                            validators: {
                                notEmpty: {
                                    message: 'Expiry Year is required'
                                }
                            }
                        },
                        Cvv: {
                            validators: {
                                notEmpty: {
                                    message: 'CVV is required'
                                },
                                digits: {
                                    message: 'The CVV velue is not a valid digits'
                                }
                            }
                        },

                    },

                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        // Validate fields when clicking the Submit button
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        // Submit the form when all fields are valid
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        // Bootstrap Framework Integration
                        bootstrap: new FormValidation.plugins.Bootstrap({
                            eleInvalidClass: '',
                            eleValidClass: '',
                        })
                    }
                }
            );
        });




    </script>
