@model Hydron.Models.Definitions.ProcessMasterExtModel

<link href="~/assets/css/custom.css" rel="stylesheet" />

@using (Html.BeginForm("DefineNew", "Coshh", FormMethod.Post, new { enctype = "multipart/form-data", id = "DefineNew" }))
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @*<legend>Departments </legend>*@

        @{
            if (ViewData.ModelState["error"] != null)
            {  <div class="alert alert-danger ">
            <button class="close" data-close="alert"></button>
            @ViewData.ModelState["error"].Errors[0].ErrorMessage

        </div>}
        }
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            You have some form errors. Please check below.

        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            Your form validation is successful!
        </div>
        <div class="form-horizontal form-bordered">
            <div class="form-body">              
                <div class="containe r">
                    <div class="product-detail-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#coshh-information">COSHH Risk Assessment</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active show" id="coshh-information">
                                <table border="1">
                                    <tbody>
                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>COSHH Risk Assessment</strong></th></tr>
                                        
                                        @Html.HiddenFor(m => m.ExtendId)
                                        @*<tr><th>Location:</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Location", name = "Location" })
                                              @Html.ValidationMessageFor(m => m.Location)
                                            </td>
                                        </tr>

                                        <tr><th>Area:</th>
                                        <td>
                                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Area", name = "Area" })
                                            @Html.ValidationMessageFor(m => m.Area)
                                            </td>
                                        </tr>*@

                                        @*<tr>
                                            <th>Date</th>
                                            <td>
                                                @Html.TextBoxFor(m => m.DateSubmit, new { @class = "form-control placeholder-no-fix date-picker", type = "text", autocomplete = "off", placeholder = "Date ", name = "DateSubmit" })
                                                @Html.ValidationMessageFor(m => m.DateSubmit)
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Reference Permit No:</th>
                                            <td>
                                                @Html.TextBoxFor(m => m.PermitNo, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "Permit No", name = "PermitNo" })
                                                @Html.ValidationMessageFor(m => m.PermitNo)
                                            </td>
                                        </tr>*@

                                        @*<tr><th>Describe the activity or work process <h6>(include how long and how often this is carried out and the quantity of substance used):</h6></th>
                                        <td>
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Description", name = "Description" })                                        
                                            </td>
                                        </tr>*@

                                        <tr><th>Identify the persons at risk: </th>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                                        Employees
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_EmpRisk, new { name = "Employee_risk", @checked = "", @class = "toggle" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                                        Contractors
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_ConRisk, new { name = "Contractors_risk", @checked = "", @class = "toggle" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                                        Public
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_PubRisk, new { name = "Public_risk", @checked = "", @class = "toggle" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>Name the substance involved in the process and its manufacturer. <h6>(A copy of a current safety data sheet for this substance should be attached to this assessment)</h6></th>
                                            <td>
                                                @Html.TextAreaFor(m => m.Coshh_Substance, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Substance", name = "Substance" })
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Workplace Exposure Limits (WELs)</strong> <small>please indicate n/a where not applicable</small></th></tr>
                                        <tr><td colspan="2">
                                            @Html.TextAreaFor(m => m.Coshh_Wels, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "WEL", name = "WEL" })
                                            </td>                                 
                                        </tr>
                                                                         
                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>State the Risks to Health from Identified Hazards</strong> </th></tr>                                        
                                        <tr>
                                        <td colspan="2">@Html.TextAreaFor(m => m.Coshh_Hazards, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Hazards", name = "Hazards" })
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Control Measures:</strong> <small>(for example extraction, ventilation, training, supervision).  Include special measures for vulnerable groups, such as disabled people and pregnant workers.  Take account of those substances that are produced from activities undertaken by another employer’s employees. </small></th></tr>                                      
                                        <tr><td colspan="2">
                                                @Html.TextAreaFor(m => m.coshh_ConMeasures, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Control Measures", name = "ControlMeasures" })
                                                </td>                                    
                                        </tr>
                                        <tr>
                                            <th>Is health surveillance or monitoring required?</th>
                                            <td>
                                                <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                    @Html.CheckBoxFor(m => m.Coshh_isMonitored, new { name = "Monitor_required", @checked = "", @class = "toggle" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>First Aid Measures</strong> </th></tr>
                                        <tr>
                                        <td colspan="2">
                                            @Html.TextAreaFor(m => m.Coshh_FirstAid, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "FirstAidMeasure", name = "FirstAidMeasure" })
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Storage</strong> </th></tr>
                                        <tr>
                                        <td colspan="2">
                                            @Html.TextAreaFor(m => m.Storage, new { @class = "form-control placeholder-no-fix", type = "text", autocomplete = "off", maxlength = "500", rows = "2", placeholder = "Storage", name = "Storage" })
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <th>Is exposure adequately controlled? </th>
                                            <td>
                                                <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                    @Html.CheckBoxFor(m => m.Coshh_isControlled, new { name = "Coshh_isControlled", @checked = "", @class = "toggle" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Risk Rating Following Control Measures</th>
                                            <td>
                                                @Html.DropDownListFor(m => m.Coshh_Rating, Model.RiskRatingListData, new { @class = "select2 form-control placeholder-no-fix ", name = "RiskRating" })
                                                @Html.ValidationMessageFor(m => m.Coshh_Rating)
                                                
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Hazard Type (PA Update)</strong> </th></tr>
                                        <tr>                                           
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">                                                
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardGas, new { name = "Coshh_isHazardGas", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Gas</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardVapour, new { name = "Coshh_isHazardVapour", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Vapour</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardMist, new { name = "Coshh_isHazardMist", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Mist</h5>
                                                       
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardFume, new { name = "Coshh_isHazardFume", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Fume</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardDust, new { name = "Coshh_isHazardDust", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Dust</h5>
                                                    </div>

                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardLiquid, new { name = "Coshh_isHazardLiquid", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Liquid</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardSolid, new { name = "Coshh_isHazardSolid", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Solid</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isHazardOther, new { name = "Coshh_isHazardOther", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Other</h5>
                                                      
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                       @Html.TextBoxFor(m => m.Coshh_HazardOtherText, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "", name = "Coshh_HazardOtherText" })
                                                        <h5>(state)</h5>                                                         
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Route of Exposure (PA to update)</strong> </th></tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isExposeInhalation, new { name = "Coshh_isExposeInhalation", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Inhalation</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isExposeSkin, new { name = "Coshh_isExposeSkin", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Skin</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isExposeEyes, new { name = "Coshh_isExposeEyes", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Eyes</h5>

                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isExposeIngestion, new { name = "Coshh_isExposeIngestion", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Ingestion</h5>
                                                    </div>                                                    
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isExposeOther, new { name = "Coshh_isExposeOther", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Other</h5>

                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        @Html.TextBoxFor(m => m.Coshh_ExposeOtherText, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "", name = "Coshh_ExposeOtherText" })
                                                        <h5>(state)</h5>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Disposal of Substances & Contaminated Containers </strong> </th></tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isDisposalHazard, new { name = "Coshh_isDisposalHazard", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Hazardous Waste</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isDisposalSkip, new { name = "Coshh_isDisposalSkip", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Skip</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isDisposalMgtArea, new { name = "Coshh_isDisposalMgtArea", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Waste Mgt Area</h5>

                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isDisposalSupplier, new { name = "Coshh_isDisposalSupplier", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Return to Supplier</h5>
                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">

                                                        <div class="make-switch" data-on="success" data-off="warning" data-on-label="&nbsp;YES&nbsp;" data-off-label="&nbsp;NO&nbsp;&nbsp;">
                                                            @Html.CheckBoxFor(m => m.Coshh_isDisposalOther, new { name = "Coshh_isDisposalOther", @checked = "", @class = "toggle" })
                                                        </div>
                                                        <h5>Other</h5>

                                                    </div>
                                                    <div class="col-md-1 col-xs-6 col-sm-4 text-center">
                                                        @Html.TextBoxFor(m => m.Coshh_DisposalOtherText, new { @class = "form-control placeholder-no-fix ", type = "text", autocomplete = "off", maxlength = "50", placeholder = "", name = "Coshh_DisposalOtherText" })
                                                        <h5>(If other please state)</h5>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        @*----------------------------------------------*@
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>



                <div class="margiv-top-10">
                    <a data-toggle="modal" class="btn green" role="button" href="#modalSave" onclick="handleChemicalT();">Save Changes</a>

                </div>
                <div aria-hidden="true" aria-labelledby="myModalLabel3" role="dialog" tabindex="-1" class="modal fade" id="modalSave" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                <h4 class="modal-title"> </h4>
                            </div>
                            <div class="modal-body">
                                @*the value to be set when calling  initModT('Save');*@
                            </div>
                            <div class="modal-footer">
                                <h5 class="modal-msg" style="display:none"> <span><img src='/assets/img/loading.gif'></span> </h5>
                                <button aria-hidden="true" data-dismiss="modal" class="btn default">Close</button>
                                <button type="submit" value="Save" class="btn green" id="fsbtn">
                                    <i class="fa fa-save"></i>Save

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </fieldset>
            <div id="register_tnc_error"></div>

            }

<script type="text/javascript">
    

                    jQuery(document).ready(function () {
                        //function format(state) {
                        //    if (!state.id) return state.text; // optgroup
                        //    return "<img class='flag' src='/assets/img/flags/" + state.id.toLowerCase() + ".png'/>&nbsp;&nbsp;" + state.text;
                        //}


                        //$("#select2_sample4").select2({
                        //    placeholder: '<i class="fa fa-map-marker"></i>&nbsp;Select a Country',
                        //    allowClear: true,
                        //    formatResult: format,
                        //    formatSelection: format,
                        //    escapeMarkup: function (m) {
                        //        return m;
                        //    }
                        //});

                        handleProcessMasterExtT();

                    });

                    function toggleUpload() {
                        $('#rowupload').toggle(); $('#deflogoset').toggle(); $('#deflogo').toggle();

                    }

                    function initModT(type) {

                        if (type == "Delete") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Delete");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Delete this record?</p>");

                            $('#fbbtn').hide();
                            $('#fdbtn').show();


                        }

                        if (type == "Ban") {

                            $('[id=modalDef]').find('[class=modal-title]').html("Activation");
                            $('[id=modalDef]').find('[class=modal-body]').html(" Are you sure you want to Deactivate this record?</p>");

                            $('#fdbtn').hide();
                            $('#fbbtn').show();
                        }
                        if (type == "Save") {
                            $('[id=modalSave]').find('[class=modal-title]').html("Save");
                            $('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to Save this record?</p>");
                            $('#fsbtn').show();
                            $('#fdbtn').hide();
                            $('#fbbtn').hide();
                        }
                    }



                    var handleProcessMasterExtT = function InitValidate() {
                        initModT('Save');

                        $('#SubstanceName').maxlength({
                            limitReachedClass: "label label-danger",
                            alwaysShow: true
                        });


                        var form1 = $('#Define');
                        var error1 = $('.alert-danger', form1);
                        var success1 = $('.alert-success', form1);

                        form1.validate({
                            errorElement: 'span', //default input error message container
                            errorClass: 'help-block', // default input error message class
                            focusInvalid: false, // do not focus the last invalid input
                            ignore: "",
                            rules: {

                                SubstanceName: {
                                    required: true
                                },
                                DepartmentDesc: {
                                    required: true
                                },
                                IsActive: {
                                    required: false
                                }


                            },

                            messages: { // custom messages for radio buttons and checkboxes
                                IsActive: {
                                    required: "Please Activate"
                                },
                                //DepartmentCountryId: {
                                //    required: "<i class='fa fa-globe'></i>"

                                //},


                            },

                            invalidHandler: function (event, validator) {

                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert alert-warning '><span><i class='fa fa-warning'></i>Insuffeciant  Data</span><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();


                            },

                            highlight: function (element) { // hightlight error inputs
                                $(element)
                                    .closest('.form-group').addClass('has-error'); // set error class to the control group
                                //$("[class=modal-body]").html("   ");
                                //  initModT('Save');// reset the modal so save mode
                                error1.show();
                                $('[id=modalSave]').find('[class=modal-title]').html("Save");
                                $('[id=modalSave]').find('[class=modal-body]').html("<div class='alert-danger '><p><i class='fa fa-warning'></i> Insuffeciant  Data</p><p> Please fill all required fields in a valid format.</p> </div>");
                                $('#fsbtn').hide();

                            },

                            success: function (label) {
                                label.closest('.form-group').removeClass('has-error');
                                label.remove();
                                return true;
                                //$('[id=modalSave]').find('[class=modal-title]').html("Save");
                                //$('[id=modalSave]').find('[class=modal-body]').html(" Are you sure you want to save this record?</p>");
                                //$('#fsbtn').show();

                            },

                            errorPlacement: function (error, element) {
                                //below will write the error after the control
                                //if (element.closest('.input-icon').size() === 1) {
                                //    error.insertAfter(element.closest('.input-icon'));
                                //} else {
                                //    error.insertAfter(element);
                                //}
                                //below will write the error in tooltip
                                var icon = $(element).parent('.input-icon').children('i');
                                icon.removeClass('fa-check').addClass("fa-warning");
                                icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                            },


                            submitHandler: function (form) {
                                $('[id=modalSave]').find('[class=modal-msg]').show();
                                success1.show();
                                error1.hide();
                                form.submit();
                            }
                        });


                    }


</script>