@model Hydron.Models.Definitions.ProcessMasterExtModel
<table border="1">
                               <tbody>
                                <tr><th colspan="10">COSHH Risk Assessment</th></tr>                               
                                <tr>
                                    <th colspan="5">Location:</th>
                                    <td colspan="5">
                                        @*@Model.ProcessMaster.title*@
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="5">Area:</th>
                                    <td colspan="5">
                                        @*@Model.Area*@ 
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="5">Date</th>
                                    <td colspan="5">
                                       @*@Model.ProcessMaster.DateSubmitted*@
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="5">Reference Permit No:</th>
                                    <td colspan="5">
                                       @*@Model.ProcessMaster.PermitNo*@
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="5">Describe the activity or work process <h6>(include how long and how often this is carried out and the quantity of substance used):</h6></th>
                                    <td colspan="5">
                                       @*@Model.ProcessMaster.Description*@
                                    </td>
                                </tr>
                                   <tr>
                                      
                                   </tr>

                                <tr>
                                    <th rowspan="2" colspan="5">Identify the persons at risk: </th>
                                    <td>
                                        Employees
                                       
                                    </td>
                                    <td>
                                        Contractors
                                    </td>
                                    <td>
                                        Public
                                    </td>
                                </tr>
                                 <tr>
                                       <td>
                                           @switch (Model.Coshh_EmpRisk)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_ConRisk)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_PubRisk)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                  </tr>

                                 <tr>
                                    <th colspan="5">Name the substance involved in the process and its manufacturer. <h6>(A copy of a current safety data sheet for this substance should be attached to this assessment)</h6></th>
                                    <td colspan="5">
                                        @Model.Coshh_Substance
                                    </td>
                                </tr>

                                <tr><th colspan="10">Workplace Exposure Limits (WELs) please indicate n/a where not applicable</th></tr>
                                <tr>
                                    <td colspan="10">
                                        @Model.Coshh_Wels
                                    </td>
                                </tr>

                                <tr><th colspan="10">State the Risks to Health from Identified Hazards</th></tr>
                                <tr>
                                    <td colspan="10">
                                        @Model.Coshh_Hazards
                                </td>
                            </tr>

                            <tr><th colspan="10">Control Measures:(for example extraction, ventilation, training, supervision).  Include special measures for vulnerable groups, such as disabled people and pregnant workers.  Take account of those substances that are produced from activities undertaken by another employer’s employees.</th></tr>
                            <tr>
                                <td colspan="10">
                                    @Model.coshh_ConMeasures
                                </td>
                            </tr>
                            <tr>
                                <th colspan="5">Is health surveillance or monitoring required?</th>
                                <td colspan="5">
                                    @switch (Model.Coshh_isMonitored)
                                    {
                                        case true: <span>YES</span>
                                            break;
                                        case false: <span>NO</span>
                                            break;
                                    }
                                </td>
                            </tr>
                            <tr><th colspan="10">First Aid Measures</th></tr>
                            <tr>
                                <td colspan="10">
                                    @Model.Coshh_FirstAid
                                </td>
                            </tr>

                            <tr><th colspan="10">Storage</th></tr>
                            <tr>
                                <td colspan="10">
                                    @Model.Storage
                                </td>
                            </tr>

                            <tr>
                                <th colspan="5">Is exposure adequately controlled? </th>
                                <td colspan="5">
                                    @switch (Model.Coshh_isControlled)
                                    {
                                        case true: <span>YES</span>
                                            break;
                                        case false: <span>NO</span>
                                            break;
                                    }

                                </td>
                            </tr>
                            <tr>
                                <th colspan="5">Risk Rating Following Control Measures</th>
                                <td colspan="5">
                                    @Html.DropDownListFor(m => m.Coshh_Rating, Model.RiskRatingListData, new { @class = "select2 form-control placeholder-no-fix ", name = "RiskRating", @disabled = "disabled" })
                     

                                </td>
                            </tr>

                 
                                   <tr><th colspan="10">Hazard Type (PA Update)</th></tr>
                                   <tr>
                                       <td>
                                          @switch (Model.Coshh_isHazardGas)
                                          {
                                              case true: <span>YES</span>
                                                  break;
                                              case false: <span>NO</span>
                                                  break;
                                          }

                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isHazardVapour)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                          @switch (Model.Coshh_isHazardMist)
                                          {
                                              case true: <span>YES</span>
                                                  break;
                                              case false: <span>NO</span>
                                                  break;
                                          }
                                       </td>
                                       <td>
                                         @switch (Model.Coshh_isHazardFume)
                                         {
                                             case true: <span>YES</span>
                                                 break;
                                             case false: <span>NO</span>
                                                 break;
                                         }

 
                                       </td>
                                       <td>@switch (Model.Coshh_isHazardDust)
                                       {
                                           case true: <span>YES</span>
                                               break;
                                           case false: <span>NO</span>
                                               break;
                                       }
</td>
                                       <td>@switch (Model.Coshh_isHazardLiquid)
                                       {
                                           case true: <span>YES</span>
                                               break;
                                           case false: <span>NO</span>
                                               break;
                                       }
</td>
                                       <td>@switch (Model.Coshh_isHazardSolid)
                                       {
                                           case true: <span>YES</span>
                                               break;
                                           case false: <span>NO</span>
                                               break;
                                       }</td>
                                       <td>@switch (Model.Coshh_isHazardOther)
                                       {
                                           case true: <span>YES</span>
                                               break;
                                           case false: <span>NO</span>
                                               break;
                                       }</td>
                                       <td colspan="2">
                                           @Model.Coshh_HazardOtherText
                                       </td>    
                                      
                                   </tr>
                                   <tr>
                                       <td>Gas</td>
                                       <td>Vapour</td>
                                       <td>Mist</td>
                                       <td>Fume</td>
                                       <td>Dust</td>
                                       <td>Liquid</td>
                                       <td>Solid</td>
                                       <td>Other</td>                                       
                                       <td colspan="2">(state)</td>                                     
                                   </tr>                         
                                
                                   <tr><th colspan="10">Route of Exposure (PA to update)</th></tr>
                                   <tr>
                                       <td>
                                           @switch (Model.Coshh_isExposeInhalation)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isExposeSkin)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isExposeEyes)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isExposeIngestion)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isExposeOther)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td colspan="5">@Model.Coshh_ExposeOtherText</td>
                                   </tr>
                                   <tr>
                                       <td>Inhalation</td>
                                       <td>Skin</td>
                                       <td>Eyes</td>
                                       <td>Ingestion</td>
                                       <td>Other</td>
                                       <td colspan="5">(state)</td>

                                   </tr>

                                   <tr><th colspan="10">Disposal of Substances & Contaminated Containers</th></tr>
                                   <tr>
                                       <td>
                                           @switch (Model.Coshh_isDisposalHazard)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isDisposalSkip)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isDisposalMgtArea)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isDisposalSupplier)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td>
                                           @switch (Model.Coshh_isDisposalOther)
                                           {
                                               case true: <span>YES</span>
                                                   break;
                                               case false: <span>NO</span>
                                                   break;
                                           }
                                       </td>
                                       <td colspan="5">@Model.Coshh_DisposalOtherText</td>
                                   </tr>
                                   <tr>
                                       <td>Hazardous Waste</td>
                                       <td>Skip</td>
                                       <td>Waste Mgt Area</td>
                                       <td>Return to Supplier</td>
                                       <td>Other</td>
                                       <td colspan="5">(If other please state)</td>

                                   </tr> 
 
                                



                            

                            @*----------------------------------------------*@
                        </tbody>
                    </table>

               






 