@model Hydron.Models.Definitions.CoshhModel

<style>


</style>

<div class="form-horizontal form-bordered">
    <div class="form-body">
        <div class="containe r">
            <div class="product-detail-tabs">              
                <div class="">
                    <div class="" id="chemical-information">
                        <table border="1">
                            <tbody>
                                <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>COSHH Risk Assessment</strong></th></tr>
                                
                                <tr>
                                    <th>Location:</th>
                                    <td>
                                        @Model.Location
                                    </td>
                                </tr>

                                <tr>
                                    <th>Area:</th>
                                    <td>
                                        @Model.Area
                                    </td>
                                </tr>

                                <tr>
                                    <th>Date</th>
                                    <td>
                                        @Model.DateSubmit
                                    </td>
                                </tr>

                                <tr>
                                    <th>Reference Permit No:</th>
                                    <td>
                                        @Model.PermitNo
                                    </td>
                                </tr>

                                <tr>
                                    <th>Describe the activity or work process <h6>(include how long and how often this is carried out and the quantity of substance used):</h6></th>
                                    <td>
                                        @Model.Description
                                    </td>
                                </tr>

                                <tr>
                                    <th>Identify the persons at risk: </th>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-lg-3">
                                                                                              
                                                <label class="control-label">Employees</label>
                                                    @switch (Model.Employee_risk)
                                                    {
                                                    case true: <span class="label label-success">YES</span>
                                                    break;
                                                    case false: <span class="label label-warning">NO</span>
                                                    break;
                                                    }

                                            </div>
                                            <div class="col-md-3 col-sm-6 col-lg-3">
                                            
                                                <label class="control-label">Contractors</label>
                                                @switch (Model.Contractors_risk)
                                                {
                                                    case true: <span class="label label-success">YES</span>
                                                        break;
                                                    case false: <span class="label label-warning">NO</span>
                                                        break;
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-lg-3">
                                               

                                                <label class="control-label">Public</label>
                                                @switch (Model.Public_risk)
                                                {
                                                    case true: <span class="label label-success">YES</span>
                                                        break;
                                                    case false: <span class="label label-warning">NO</span>
                                                        break;
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th>Name the substance involved in the process and its manufacturer. <h6>(A copy of a current safety data sheet for this substance should be attached to this assessment)</h6></th>
                                    <td>
                                        @Model.Substance
                                    </td>
                                </tr>

                                <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Workplace Exposure Limits (WELs)</strong> <small>please indicate n/a where not applicable</small></th></tr>
                                <tr>
                                    <td colspan="2">
                                        @Model.WEL
                                    </td>
                                </tr>

                                <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>State the Risks to Health from Identified Hazards</strong> </th></tr>
                                <tr>
                                    <td colspan="2">
                                        @Model.Hazards
                                </td>
                            </tr>

                            <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Control Measures:</strong> <small>(for example extraction, ventilation, training, supervision).  Include special measures for vulnerable groups, such as disabled people and pregnant workers.  Take account of those substances that are produced from activities undertaken by another employer’s employees. </small></th></tr>
                            <tr>
                                <td colspan="2">
                                    @Model.ControlMeasures
                                </td>
                            </tr>
                            <tr>
                                <th>Is health surveillance or monitoring required?</th>
                                <td>
                                    @switch (Model.Monitor_required)
                                    {
                                        case true: <span class="label label-success">YES</span>
                                            break;
                                        case false: <span class="label label-warning">NO</span>
                                            break;
                                    }
                                </td>
                            </tr>
                            <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>First Aid Measures</strong> </th></tr>
                            <tr>
                                <td colspan="2">
                                    @Model.FirstAidMeasure
                                </td>
                            </tr>

                            <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Storage</strong> </th></tr>
                            <tr>
                                <td colspan="2">
                                    @Model.Storage
                                </td>
                            </tr>

                            <tr>
                                <th>Is exposure adequately controlled? </th>
                                <td>
                                    @switch (Model.IsControlled)
                                    {
                                        case true: <span class="label label-success">YES</span>
                                            break;
                                        case false: <span class="label label-warning">NO</span>
                                            break;
                                    }

                                </td>
                            </tr>
                            <tr>
                                <th>Risk Rating Following Control Measures</th>
                                <td>
                                    @Html.DropDownListFor(m => m.RiskRating, Model.RiskRatingListData, new { @class = "select2 form-control placeholder-no-fix ", name = "RiskRating", @disabled = "disabled" })
                                    

                                </td>
                            </tr>

                            @*----------------------------------------------*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>  
    
</div>
</div>






 