@model Hydron.Models.Definitions.ChemicalTModel

<div class="form-horizontal form-bordered">
    <div class="form-body">
        <div class="containe r">
            <div class="product-detail-tabs">
                
                <div class="">
                    <div class="" id="chemical-information">
                        <table border="1">
                            <tbody>
                                <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>To be filled by Requestor</strong></th></tr>

                               
                                <tr>
                                    <th>Name of Substance:</th>
                                    <td>
                                        @Model.SubstanceName
                                    </td>
                                </tr>

                                <tr>
                                    <th>Supplier (inc Address & Tel):</th>
                                    <td>
                                        @Model.Supplier
                                    </td>
                                </tr>

                                <tr>
                                    <th>Detailed description of proposed use(s):</th>
                                    <td>
                                        @Model.Description
                                    </td>
                                </tr>

                                <tr>
                                    <th>Is this chemical will be discharged to environment (either gas or liquid form) as part of planned operations? </th>
                                    <td>
                                        
                                        @switch (@Model.DischargeToEnvironment)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }


                                    </td>
                                </tr>

                                <tr>
                                    <th>Plant equipment / Area of use:</th>
                                    <td>
                                        @Model.AreaUse
                                              </td>
                                </tr>

                                <tr>
                                    <th>Material quantity (total inventory) / pack size</th>
                                    <td>
                                        @Model.Quantity
                                    </td>
                                </tr>

                                <tr>
                                    <th>Form material supplied / used (e.g. solid / liquid /gas)</th>
                                    <td>
                                        @Model.MaterialUsed
                                    </td>
                                </tr>

                                <tr>
                                    <th>Type of storage container for this chemical</th>
                                    <td>
                                        @Model.Storage
                                    </td>
                                </tr>

                                <tr>
                                    <th>Proposed disposal of containers:</th>
                                    <td>
                                        @Model.DisposalContainers
                                    </td>
                                </tr>

                                <tr>
                                    <th>Proposed disposal of spent chemical:</th>
                                    <td>
                                        @Model.DisposalChemical
                                    </td>
                                </tr>

                                <tr>
                                    <th>Intened use of chemical:</th>
                                    <td>
                                        @Model.ChemicalUse
                                    </td>
                                </tr>

                                <tr>
                                    <th>Intended date of receipt:</th>
                                    <td>
                                        @Model.DateReciept
                                    </td>
                                </tr>

                                <tr><th colspan="2" style="padding: 5px 20px;background-color:#2e90f4; color: white;"><strong>To be filled by Warehouse in-charge</strong></th></tr>
                                <tr>
                                    <th>Proposed storage location:</th>
                                    <td>
                                        @Model.StorageLocation
                                    </td>
                                </tr>

                                <tr><th colspan="2" style="padding: 5px 20px;background-color:#2e90f4; color: white;"><strong>To be filled by HSE Representative</strong></th></tr>
                                <tr>
                                    <th>Is this regulated by the law?</th>
                                    <td>
                                       
                                        @switch (@Model.RegulatedbyLaw)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }


                                    </td>
                                </tr>

                                <tr>
                                    <th>COSHH initial assessment completed?</th>
                                    <td>
                                        
                                        @switch (Model.COSHH_Completed)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <th>Health Safety and Environment Impact Review</th>
                                    <td>
                                        @Model.HSE_Impact
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="1" style="margin-top: 50px;">
                            <tbody>

                                <tr><th colspan="2" style="padding: 5px 20px; background-color:#2e90f4; color: white;"><strong>Usage Information:</strong> (To be completed by Requestor)</th></tr>
                                <tr>
                                    <th><strong>1.  New Chemical</strong></th>
                                    <td>
                                       

                                        @switch (Model.NewChemical)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }

                                    </td>
                                </tr>

                                <tr>
                                    <th style="padding: 5px 30px;"><strong>1.1 Stock Item</strong></th>
                                    <td>
                             
                                        @switch (Model.StockItem)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }

                                    </td>
                                </tr>

                                <tr>
                                    <th style="padding: 5px 50px;">Order Quantity</th>
                                    <td>
                                        @Model.StockOrderQty
                                    </td>
                                </tr>

                                <tr>
                                    <th style="padding: 5px 50px;"> Projected Max inventory</th>
                                    <td>
                                        @Model.MaxInventory
                                    </td>
                                </tr>

                                <tr>
                                    <th style="padding: 5px 50px;">Projected Usage Rate</th>
                                    <td>
                                        @Model.UsageRate
                                    </td>
                                </tr>
                                <tr>
                                    <th style="padding: 5px 30px;"><strong>1.2 Non-stock Item</strong></th>
                                    <td>
                                       
                                        @switch (Model.NonStockItem)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }

                                    </td>
                                </tr>

                                <tr>
                                    <th style="padding: 5px 50px;">Order Quantity</th>
                                    <td>
                                        @Model.NonStockOrderQty
                                    </td>
                                </tr>

                                <tr>
                                    <th><strong>2.  Replacement Chemical</strong></th>
                                    <td>
                                      
                                        @switch (Model.ChemicalReplacement)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <th style="padding: 5px 50px;">Details of chemical being replaced:</th>
                                    <td>
                                        @Model.RepliacementDetails
                                    </td>
                                </tr>
                                <tr>
                                    <th><strong>3.  Temporary/Trial Chemical</strong></th>
                                    <td>
                                      
                                        @switch (Model.TempChemical)
                                        {
                                            case true: <span class="label label-sm label-success">YES</span>
                                                break;
                                            case false: <span class="label label-sm label-warning">NO</span>
                                                break;
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th style="padding: 5px 50px;">Order Quantity:</th>
                                    <td>
                                        @Model.TempOrderQty
                                    </td>
                                </tr>

                                <tr>
                                    <th>Additional information:</th>
                                    <td>
                                        @Model.AdditionalInfo
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        
        
    </div>
</div>




